header {
    width: 100%;
    display: flex;
    min-height: 95vh;
}

video {
  width: 100%;
  object-fit: cover;
  height: 100%;
  position: relative;
  z-index: -1;
  outline: red solid 1px;
}

.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 2rem;
    position: fixed;
    width: 100%;
    background-color: red;
}

p, h3, h1 {
    white-space: pre;
    display: block;
    font-size: 1.17em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 20%;
    font-weight: bold;
    color: white;
    position: relative;
}

p {
    font-size: 1em;
}

span {
    color: purple;    
    font-size: 1em;
    position: relative;
}

.intro {
    position: absolute;
    top: 40%;
    display: inline-block;
    width: 40%;
    z-index: 2;
}

.icons {
    position: absolute;
    bottom: 7%;
    left: 5%;
    z-index: 2;
}

.icon {
    margin-right: 10px;
    color: white;
}

.icon:hover {
    color: red;
}

.left-overlay {
    opacity: 50%;
    background-color: black;
    width: 35%;
    height: 95vh;
    position: absolute;
    z-index: 1;
}
