header {
    width: 100%;
    display: flex;
    height: 100vh; /* full viewport height */
    overflow: hidden; /* prevent scrolling if children exceed */
    position: relative; /* remain in document flow */
}

video {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  object-fit: cover;
  z-index: 1;
}

p, h3, h1 {
    white-space: pre;
    display: block;
    font-size: 1.17em;
    margin-block-start: 0;
    margin-block-end: 0;
    margin-inline-start: 20%;
    font-weight: bold;
    color: white;
    position: relative;
}

p {
    font-size: 1em;
}

span {
    color: purple;    
    font-size: 1em;
    position: relative;
}

.intro {
    position: absolute;
    top: 40%;
    display: inline-block;
    width: 40%;
    z-index: 2;
}

.icons {
    position: absolute;
    bottom: 7%;
    left: 5%;
    z-index: 2;
}

.icon {
    margin-right: 10px;
    color: white;
}

.icon:hover {
    color: red;
}

.left-overlay {
    opacity: 0.5;
    background-color: black;
    width: 35%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
}
